@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AdService.UI</title>
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/custom_bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/AdService.UI.styles.css" asp-append-version="true" />
        <style>
            html, body{
                height:100%;
            }
        </style>
    </head>

    <body class="bg-light">


            <div class="center-div-parent-container">
                <div class="center-div-container">
                    <div class="card card-border-top">
                        <h3 class="card-header bg-transparent mt-3 pb-3 text-center">@ViewBag.Title</h3>
                        <div class="card-body">
                    
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Well done!</h4>
                                <p>Thank you for confirming your email.</p>
                                <hr>
                                <p class="mb-0">Return to <a asp-controller="Home" asp-action="Index">Home page</a></p>
                                
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>

    </body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
