@page
@model LoginModel

@inject IConfiguration configuration
 

@{
    var templateKey = configuration.GetSection("TemplateKey").Value;
    Layout = $"/Views/{templateKey}/Shared/_Layout.cshtml";
    ViewData["Title"] = "Log in";
    //Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdService.UI</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom_bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdService.UI.styles.css" asp-append-version="true" />
</head>



<body class="bg-light">

    <div class="center-div-parent-container" style="padding-top: 80px;">
        <div class="center-div-container">
            <div class="card" style="border-radius: 20px;">

                <h3 class="card-header bg-transparent mt-3 pb-3 text-center">Log in</h3>

                <div class="card-body card-body-padding">

                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="checkbox pb-2" style="padding-left: 40px;">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                        </div>


                    </form>

                    <div class="pt-4">
                        <p class="text-center">If you don't have account <br/> 
                            <a asp-area="Identity" asp-page="/Account/Register" ><b>Register as a new user</b></a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>


</body>
</html>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
