@using AdService.Application.Advertisements.CourseAdvertisements.Queries.GetCourseAdvertPage;


@model CourseAdvertPageVm


<div>

    <div class="container">

        <div class="col-md-8">

            <div class="card mb-4 card-primary card-border-top" style="padding: 18px;">
                
                <h3>@Model.CourseAdvert.Title</h3>

            </div>
        </div>
        
        <div class="col-md-4">

        </div>

    </div>
</div>