@using AdService.Application.Clients.Queries.GetClient;

@model ClientDto

@{
    ViewData["Title"] = "My Profile";
}


<div class="bg-white" style="width: 100%; padding-top: 20px; ">
    <div class="container">
        
        <partial name="_ProfileNav" />

        
        <p>uzytkownik: @Model.Email</p>
    </div>
</div>