

<div class="container">

    <h3 class="mt-5 text-danger text-center">Something went wrong!</h3>

    <p class="text-center mt-3"> 
        Your payment hasn't been proceed. Try again or contact with administrator.
    </p>
</div>