html {
  font-size: 16px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 640px) {
    .card-body {
        padding: 2rem;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center-div-parent-container {
    display: table;
    height: 100%;
    margin: 0 auto;
}

.center-div-container {
    display: table-cell;
    vertical-align: middle;
    min-width: 600px;

}

.card-body-padding {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-border-top {
    border-top: 3px solid #814afa;
}

.card-primary {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.card-center{
    margin: 0 auto;

}

@media screen and (min-width: 640px) {
    .card-body {
        padding: 2rem;
    }
}

.card-body label, .modal-body label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card-body .form-group:not(:first-child), .modal-body .form-group {
    margin-top: 1rem;
}

.card-body .form-check, .modal-body .form-check {
    margin-top: 1.5rem;
}


